.navBar .navCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed; 
    border-bottom: 1px solid #bbbbbb92;
    background-color: #ffffffef;
  
}

.navCont_flex{
    display: flex;
    gap: 5rem;    
}

.top_button{
    background-color: #000;
    color:#fff;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    
}