.navBar .navCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 10px;
    position: fixed; 
    background-color: #ffffffef;
    z-index: 9999;
}

.bName{
    font-size: 1.4rem;
    font-weight: bold;
}

.navCont_flex{
    display: flex;
    gap: 5rem;    
}

.top_button{
    background-color: #000;
    color:#fff;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    
}