.partners_cont{
    background: #303131;
    width: 100vw;
    height: 500px;
    color: #fff;
    
}
.partners_flex{
    display: flex;
    margin: 0 200px;
    height: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.partners_text{
    padding: 20px;
}

.partners_text h2{
    font-size: 4rem;
}

.partners_text p{
    color: green;
}

.partners_img{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-basis: 35%;
    row-gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  
}

.Partners_img_flex{
    background-color: #ffffff12;
    border-radius: 10px;
}