.test-container{
    height: 800px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.test-header {
    padding-top: 90px;
}
.test-header p{
    color: #50B500;
    line-height: normal;
}
.test-header h3{
    font-size: 36px;
}
.test-cards{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 38px;
}
.test-card{
    border-radius: 23px;
    width: 350px;
    height: 500px;
    background-color: white;
    text-align: left;
    padding: 60px;
    position: relative;
}
.test-card h3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.quote{
    position: absolute;
    top: -20px;
}
.stars{
    margin-bottom: 10px;
}